.footer{
    width: cover;
    background-color: rgba(84, 111, 125, 1);
    height:auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.text{
    color: white;
}.text h3{
    margin-top: 90px;
    margin-left: 60px;
}

.getin{
    color: white;
}
.getin p{
    font-size: 20px;
    margin-top: 20px;
}


@media(max-width:650px){
    .footer{
        flex-direction: column;
    }
}